{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ current_user.username }} !</h1>

    <h3>Please fill the below form</h3>

    <form action="" method="post">
        <label for="corp"><b>Corporation name : </b>(Turner and Sons| Kirk Inc | Davis PLC) </label>
        <input type="text" id="corp" name="corp"><br>
        <button type="submit">Submit</button>
    </form>

    <h3>This is the result to the query : </h3>

    {% for r in res%}
        <div>
            <p><b>{{ r.lastname}} {{r.firstname}}</b> charges id : {{ r.charges.payments }}</p>
        </div>
    {% endfor %}

{% endblock %}


